<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Website - About</title>
  <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
  <h1>Kevoy Daley</h1>
  <p>This is a paragraph about myself. I enjoy food, video games and computers. I'm pretty boring, and I don't really know how long this paragraph needs to be. I'm in my third year at the UWI and I shall use the four sentence rule to designate the end of my paragraph. I hope we can get along this year.</p>
</body>
</html>